<h4>Formularios <small>template</small></h4>
<hr>
<form (ngSubmit)="save(forma);" #forma="ngForm" novalidate="">

  <div>

    <div class="form-group row">
      <label class="col-2 col-form-label">Nombre</label>
      <div class="col-8">

        <input class="form-control"
               type="text"
               placeholder="Nombre"
               [(ngModel)]="user.name" name="Name" 
               minlength="4" required #name="ngModel" >

              <div *ngIf="name.errors?.required" class="invalid">
                <b>Este campo es requerido</b>
              </div>
              <div *ngIf="name.errors?.minlength" class="invalid">
                <b>Este campo requiere al menos {{ name.errors.minlength.requiredLength }} caracteres</b>
              </div>

      </div>

     

    </div>

    <div class="form-group row">
      <label class="col-2 col-form-label">Apellido</label>
      <div class="col-8">

        <input class="form-control"
               type="text"
               placeholder="Apellido"
               [(ngModel)]="user.lastName" name="lastName"
               minlength="5" required #Lname="ngModel">
        
        <div *ngIf="Lname.errors?.required" class="invalid">
            <b>Este campo es requerido</b>
        </div>
        <div *ngIf="Lname.errors?.minlength" class="invalid">
            <b>Este campo requiere al menos {{ Lname.errors.minlength.requiredLength }} caracteres </b>
        </div>

      </div>
    </div>

  </div>

  <div class="form-group row">
    <label class="col-2 col-form-label">Correo</label>
    <div class="col-md-8">

      <input class="form-control"
             type="email"
             placeholder="Correo electrónico"
             [(ngModel)]="user.email" name="email"
             minlength="5" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" #email="ngModel">
      
      <div *ngIf="email.errors?.required" class="invalid">
             <b> Este campo es requerido </b>
      </div>
      <div *ngIf="email.errors?.pattern" class="invalid">
            <b> El campo no tiene el formato correcto de correo </b> 
      </div>
    </div>
  </div>

  <div class="form-group row">
    <label class="col-2 col-form-label">Pais</label>
    <div class="col-md-8">
        <select class="form-control" name="country" [(ngModel)]="user.country">
          <option value="">Select a Country</option>
          <option *ngFor="let country of countries" [value]="country.code" > {{country.country}} </option>
        </select>
      </div>
      </div>

     <div class="form-group row">
          <label class="col-2 col-form-label">Sexo</label>
          <div class="col-md-8">
                  <div class="custom-control custom-radio custom-control-inline">
                      <input type="radio" id="sexMale" name="sex" class="custom-control-input" value="Male" [(ngModel)]="user.sex">
                      <label class="custom-control-label" for="sexMale">Male</label>
                    </div>
                    <div class="custom-control custom-radio custom-control-inline">
                      <input type="radio" id="SexFemale" name="sex" class="custom-control-input" value="Female" [(ngModel)]="user.sex">
                      <label class="custom-control-label" for="SexFemale">Female</label>
                    </div>

      </div>
      </div> 

     <!-- <div class="form-group row">
          <label *ngFor="let s of sexs" class="col-2 col-form-label">Sexo</label>
          <div class="col-md-8">
                  <div class="custom-control custom-radio custom-control-inline">
                      <input type="radio" id="sexMale" name="sex" class="custom-control-input" [value]="s" [(ngModel)]="user.sex">
                      <label class="custom-control-label" for="sexMale">{{s}}</label>
                    </div>
        </div>
        </div>
        this is to make it with for-->

        <div class="form-group row">
            <label class="col-2 col-form-label">Acepta</label>
            <div class="col-md-8">

                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="customCheck1" [(ngModel)]="user.accept" name="accept">
                    <label class="custom-control-label" for="customCheck1">Acepta terminos y condiciones?</label>
                  </div>


        </div>
        </div>

  <div class="form-group row">
    <label class="col-2 col-form-label">&nbsp;</label>
    <div class="input-group col-md-8">
      <button type="submit" class="btn btn-outline-primary" [disabled]="!forma.valid">
        Guardar
      </button>
    </div>
  </div>

</form>


<pre>
  {{ user | json }}
</pre>